<!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"-->
<div class = "collapse" id="exCollapsingNavbar">
  <div class ="collapse-bg p-a-1">
    <div class ='card'>
      <ul class ='list-group list-group-flush'>
      <!--ul class="nav navbar-nav"-->
        <li class ='list-group-item'>
          <%= link_to 'Home', root_path, class: "nav-link #{yield(:home_active)}" %>
        </li>

        <li class ="list-group-item">
          <!-- website.about.com -->
          <%= link_to 'Sobre', sobre_path, class: "nav-link #{yield(:sobre_active)}" %>
        </li>

        <li class ="list-group-item">
          <%= link_to 'Contato', contato_path, class: "nav-link #{yield(:contato_active)}" %>
        </li>
        <% if author_signed_in? %>
          <li class ="list-group-item">
            <%= link_to 'Meus posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
          </li>
          <li class ="list-group-item">
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!--nav class = "navbar navbar-light bg-faded"-->
<nav class="navbar navbar-inverse">
  <div class = 'container'>
    <a style='color:white;' class = 'navbar-brand'>
      Jornal<span class = 'light'>Jornal</span>
    </a>

    <!---->
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <!--ul class="nav navbar-nav pull-sm-right hidden-xs-down"-->

    <ul class="nav navbar-nav navbar-right" style="display: inline;">


      <li class="nav-item" style = "padding-right: 10px;">
        <%= link_to 'Home', root_path, class: "nav-link #{yield(:home_active)}" %>
      </li>

      <li class="nav-item" style = "padding-right: 10px;">
        <%= link_to 'Sobre', sobre_path, class: "nav-link #{yield(:sobre_active)}" %>
      </li>
      <li class="nav-item" style = "padding-right: 10px;">
        <%= link_to 'Contato', contato_path, class: "nav-link #{yield(:contato_active)}" %>
      </li>
      <% if author_signed_in? %>
        <li class="nav-item" style = "padding-right: 10px;">
          <%= link_to 'Meus posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
        </li>
        <li class="nav-item" style = "padding-right: 10px;">
          <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>


<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background: url('http://imgur.com/GVAr4PU.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style = "color: snow;">O Jornal que é muito mais jornal do que o que você compra na banca de jornal</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>